fastapi==0.103.1
uvicorn==0.23.2
moviepy==1.0.3
pydantic==2.3.0
requests==2.31.0
python-multipart==0.0.6
numpy==1.25.2
decorator==5.1.1
imageio==2.31.3
imageio-ffmpeg==0.4.8
proglog==0.1.10
tqdm==4.66.1
python-dotenv==1.0.0